PORT= your port
MONGO_URL= your connection string
SALT_ROUND = 10
JWT_SECRECT_KEY = 9a90a4ae9e91ade88ba9a9dcd8da35ef0b94e8echksabdskajvcjka
EXPIRE_IN = "7d"
ORIGIN = "http://localhost:5173", "http://localhost:5174"